{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:nuxt/recommended"
  ],
  "plugins": [
  ],
  "rules": {
    "vue/no-v-html": "off"
  },
  "settings": {
    "import/core-modules": [
      "vue"
    ]
  }
}